# ==============================
# Dependências
# ==============================
node_modules/

# ==============================
# Build / Compilação
# ==============================
dist/
build/
out/